//
//	TYPOGRAPHY
// ------------------------------------------------------

h1 {
  //text-transform: uppercase;
  text-align: center;
  padding-top: 5rem;
  font-size: em(36);
  font-weight: bold;
  padding-bottom: 3rem;
  //font-family: $font-family;
}

h2 {
  //text-transform: uppercase;
  font-size: em(30);
  font-weight: bold;
}

h3 {
  font-size: em(25);
}

h4 {
  font-size: em(20);
  font-weight: bold;
  margin-top: 1.25em;
}

h5 {
  font-size: em(18);
  font-weight: bold;
  //text-transform: uppercase;
  margin-top: 0.5em;
}

h6 {
}

p {
  font-size: em(17);
}

li a {
  font-size: em(16);
}

small {
  font-size: em(17);
}

a:hover,
a:focus {
  color: $color-hover;
}
a {
  text-transform: uppercase;
}
