//
//	VARIABLES
// ------------------------------------------------------

$font-size-base: 100%;
$font-family: Roboto, "Segoe UI", Tahoma, sans-serif;

$color-bg-item: #7fa1ff;
$color-search: #808080;
$color-text: #f9f9f9;
$bg-warm: #ff6767;
$color-bg-body: #f9f9f9;
$color-hover: #5e5e5e;

$animation-speed: 0.25s;
